.pic {
  display: inline-block;
  width: 800px;
  height: 400px;
  position: absolute;
}
.pic img {
  width: 800px;
  height: 400px;
}

.current {
  left: 800px;
}
.current.move {
  left: 0;
  transition: all .5s ease;
}

.next {
  left: 1600px;
}
.next.move {
  left: 800px;
  transition: all .5s ease;
}

.pic-wrapper {
  left: -800px;
  position: absolute;    
}
.mask {
  overflow: hidden;
  width: 800px;
  height: 480px;
  position: absolute;
}